//
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//

#include "./product-version.xcconfig"
#include "./pods"

//OTHER_LDFLAGS = $(inherited) -ObjC -framework "AFNetworking"

//
// Search paths
//

//FRAMEWORK_SEARCH_PATHS                           = $(inherited) $(PROJECT_DIR)/Carthage/Build/iOS
//SOME_FRAMEWORK_SEARCH_PATH[sdk=iphoneos*]        = $(PROJECT_DIR)/SDKs/SomeFramework/iphoneos
//SOME_FRAMEWORK_SEARCH_PATH[sdk=iphonesimulator*] = $(PROJECT_DIR)/SDKs/SomeFramework/iphonesimulator
FRAMEWORK_SEARCH_PATHS = $(inherited)
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
