//
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//

#include "./base.xcconfig"

BUILD_USER = $(USER)
PRODUCT_NAME = Smart.Dev
PRODUCT_BUNDLE_IDENTIFIER = dev.hit.happens.app.id
//PRODUCT_BUNDLE_IDENTIFIER = dev.com.ricardo.app.id
TARGET_ENVIRONMENT = dev
//ENABLE_BITCODE = YES

//
// Custom Keys
//

SMARTSDK_APP_SECRET = 123456789
